<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <title>Simple Chat</title>
</head>

<body>

    <!-- NavBar -->
    <nav id="navbar"
        class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
                        aria-controls="drawer-navigation">
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    {% if not room_name == "select_room" %}
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group">
                        <img class="w-12 h-12 rounded-full"
                            src="https://ui-avatars.com/api/?name={{ room_name|urlencode }}&size=72&background=random"
                            alt="user photo">
                        <span class="ms-3 text-5xl">{{ room_name|capfirst }}</span>
                    </a>
                    {% endif %}
                </div>
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                        <div>
                            <button type="button"
                                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full"
                                    src="https://ui-avatars.com/api/?name={{ request.user.username|urlencode }}&size=64&background=random"
                                    alt="user photo">
                            </button>
                        </div>
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="dropdown-user">
                            <div class="px-4 py-3" role="none">
                                <p class="text-sm text-gray-900 dark:text-white" role="none">
                                    {{request.user.username}}
                                </p>
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                    {{request.user.email}}
                                </p>
                            </div>
                            <ul class="py-1" role="none">
                                <li>
                                    <a href="{% url 'logout' %}"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Collapsible Side bar menu -->
    <div id="drawer-navigation"
        class="fixed top-20 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
        tabindex="-1" aria-labelledby="drawer-navigation-label">
        <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
            Contacts
        </h5>
        <div class="py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
                {% for item in user_last_messages %}

                <li>
                    <a href="{% url 'chat' item.user.username %}"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img class="w-8 h-8 rounded-full"
                            src="https://ui-avatars.com/api/?name={{ item.user.username|urlencode }}&size=64&background=random"
                            alt="user photo">
                        <span class="ms-3">{{item.user.username}}</span>
                    </a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Chat Screen -->
    {% if not room_name == "select_room" %}
    <div class="p-4 h-screen mt-16 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 overflow-y">

        <div id="chatbox" class=" chatbox flex-fill p-3 overflow-y-auto h-[calc(100%-200px)]">
            {% if chats %} {% for message in chats %}
            <div class="m-4 flex items-start gap-2.5 {% if message.sender == request.user %}justify-end{% endif %}">
                <div
                    class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 {% if message.sender == request.user %}bg-blue-500  dark:bg-blue-700 rounded-se-xl{% else %}bg-gray-100 dark:bg-gray-700 rounded-e-xl{% endif %}  rounded-es-xl ">
                    <p
                        class="text-sm font-normal py-2.5 {% if message.sender == request.user %}text-white{% else %}text-gray-900 dark:text-white{% endif %}">
                        {{message.content}}</p>
                </div>
            </div>
            {% endfor %} {% else %}
            <p class="no-messages">No Messages.</p>
            {% endif %}
        </div>



        <div
            class="fixed bottom-0 left-0 w-full p-4 bg-white border-t border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <div class="relative">
                <input type="text" id="my_input"
                    class="form-control block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Message..." required />
                <button id="submit_button" type="button"
                    class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send</button>
            </div>
        </div>

    </div>
    {% else %}
    <div class="flex items-center justify-center h-screen mt-16 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <p class="text-2xl text-gray-900 dark:text-white">Choose a user from the left sidebar to start chating</p>
    </div>
    {% endif %}

    {{slug|json_script:"room_slug"}}

    <script>
        function adjustPageScale() {
            const screenWidth = window.innerWidth;

            if (screenWidth >= 992 && screenWidth <= 1600) {
                document.body.style.width = "90%";
                document.getElementById("navbar").style.width = "90%";
                document.getElementById("drawer-navigation").style.left = "5%";
            } else if (screenWidth >= 700 && screenWidth <= 767) {
                document.body.style.width = "80%";
                document.getElementById("navbar").style.width = "80%";
                document.getElementById("drawer-navigation").style.left = "10%";
            } else if (screenWidth >= 600 && screenWidth < 700) {
                document.body.style.width = "75%";
                document.getElementById("navbar").style.width = "70%";
                document.getElementById("drawer-navigation").style.left = "12.5%";
            } else if (screenWidth <= 600) {
                document.body.style.width = "50%";
                document.getElementById("navbar").style.width = "50%";
                document.getElementById("drawer-navigation").style.left = "25%";
            } else {
                document.body.style.width = "100%";
                document.getElementById("navbar").style.width = "100%";
                document.getElementById("drawer-navigation").style.left = "0";
            }

            document.body.style.margin = "0 auto"; // Center the elements
            document.body.classList.add("bg-gray-800"); // Apply background color
        }

        // Run the function initially
        adjustPageScale();

        // Add an event listener to handle window resizing
        window.addEventListener('resize', adjustPageScale);


        const chatbox = document.querySelector("#chatbox");

        // Function to scroll to the bottom of the chatbox
        function scrollToBottom() {
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        // Scroll to bottom when the page is loaded
        scrollToBottom();

        const roomName = JSON.parse(
            document.getElementById("room_slug").textContent
        );
        const chatSocket = new WebSocket(
            "ws://" + window.location.host + "/ws/chat/{{ room_name }}/"
        );

        chatSocket.onopen = function (e) {
            console.log("The connection was set up successfully!");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened!");
        };

        document.querySelector("#my_input").focus();
        document.querySelector("#my_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                document.querySelector("#submit_button").click();
            }
        };

        document.querySelector("#submit_button").onclick = function (e) {
            var messageInput = document.querySelector("#my_input").value;

            if (messageInput.length == 0) {
                alert("Add some input first then press the Send button!");
            } else {
                chatSocket.send(
                    JSON.stringify({
                        message: messageInput,
                        username: "{{ request.user.username }}",
                        room_name: "{{ room_name }}",
                    })
                );
                document.querySelector("#my_input").value = ""; // Clear input field after sending
            }
        };

        // Update the onmessage function to update the chat list
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if (data.message && data.sender) {
                // Display the new message in the chatbox
                const chatbox = document.querySelector("#chatbox");
                const noMessages = document.querySelector(".no-messages");
                if (noMessages) {
                    noMessages.style.display = "none";
                }

                // const div = document.createElement("div");
                // const isSender = data.sender === request.user

                // div.className = "m-4 flex items-start gap-2.5";

                // div.innerHTML = data.message;
                const messageDiv = document.createElement("div");
                messageDiv.className = `m-4 flex items-start gap-2.5 ${data.sender === "{{ request.user.username }}" ? "justify-end" : ""}`;

                const innerDiv = document.createElement("div");
                innerDiv.className = `flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 ${data.sender === "{{ request.user.username }}" ? "bg-blue-500 dark:bg-blue-700 rounded-se-xl" : "bg-gray-100 dark:bg-gray-700 rounded-e-xl"} rounded-es-xl`;

                const messageContent = document.createElement("p");
                messageContent.className = `text-sm font-normal py-2.5 ${data.sender === "{{ request.user.username }}" ? "text-white" : "text-gray-900 dark:text-white"}`;
                messageContent.textContent = data.message;

                innerDiv.appendChild(messageContent);
                messageDiv.appendChild(innerDiv);
                chatbox.appendChild(messageDiv);

                chatbox.appendChild(div);
                // Scroll to the bottom of the chatbox
                scrollToBottom();

                // Update the last message in the sidebar
                const lastMessage = document.querySelector(
                    ".list-group-item.active #last-message"
                );
                if (lastMessage) {
                    lastMessage.innerHTML =
                        data.sender === "{{ request.user.username }}"
                            ? "You: " + data.message
                            : data.message;

                    // update tyime4stamp in format of UTC time 12:00, 13:00 etc
                    const timestamp = document.querySelector(
                        ".list-group-item.active small"
                    );
                    const date = new Date().toUTCString();
                    timestamp.innerHTML = date.slice(17, 22);

                    // update the chats list sorting by the last message timestamp in descending order
                    const chats = document.querySelectorAll(".list-group-item");
                    const chatsArray = Array.from(chats);
                    const chatsSorted = chatsArray.sort((a, b) => {
                        const aTime = a.querySelector("small").innerHTML;
                        const bTime = b.querySelector("small").innerHTML;
                        return aTime < bTime ? 1 : -1;
                    });

                    const contacts = document.querySelector(".contacts");
                    contacts.innerHTML = "";
                    chatsSorted.forEach((chat) => {
                        contacts.appendChild(chat);
                    });
                } else {
                    console.error("No active chat selected");
                }
            } else {
                console.error("Message or sender data is missing:", data);
            }
        };
    </script>

</body>

</html>